# Database Configuration
DATABASE_URL=postgresql://postgres:nawy123@localhost:15433/nawy_db

# Backend Configuration
NODE_ENV=development
PORT=3000
APP_PREFIX=api
DEFAULT_PAGE=1
DEFAULT_PAGE_SIZE=10
MAX_FILE_SIZE=5242880
MAX_FILES_PER_ENTITY=10
UPLOAD_PATH=./uploads

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_STATIC_URL=http://localhost:3001
NEXT_PUBLIC_DEFAULT_PAGE=1
NEXT_PUBLIC_DEFAULT_TAKE=10
NEXT_PUBLIC_MAX_TAKE=50
NEXT_PUBLIC_DEBOUNCE_DELAY=300
