# Database Configuration
DATABASE_URL=postgresql://postgres:nawy123@localhost:15433/nawy_db

# Backend Configuration
NODE_ENV=development
PORT=3000
APP_PREFIX=api
DEFAULT_PAGE=1
DEFAULT_PAGE_SIZE=10
MAX_FILE_SIZE=5242880
MAX_FILES_PER_ENTITY=10
UPLOAD_PATH=./uploads
